
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.2;
}


nav a{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    font-size: larger;

}

nav{
    background-color:rgb(141, 141, 170) ;
    text-align: center;
}
nav li{
    display: inline;
}


nav a{
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
}


h1{
    font-family: monospace;
    font-size: 3rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3rem 1rem .5rem lightblue;
}


img{
    float:inline-start;
    clear: both;
    max-width: 50%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 70%;
    box-shadow: 2px 2px .5rem lightblue;
    shape-outside: circle(35%);
    

}
