html {
    box-sizing : border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    line-height:125%;
    color: #50504f
  }

* ,
* ::before ,
* ::after {
    box-sizing : inherit ;
}




nav{
    background-color:rgb(141, 141, 170) ;
    text-align: center;
}
nav li{
    display: inline;
}


nav a{
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

nav a{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    font-size: larger;
}

nav a:visited{
    background-color: aliceblue;
}

nav a:hover{
    text-decoration: underline;
    color: #bb1b47;
}

nav a:active{
    color: yellow;
}

h1{
    font-size: 3rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: .3rem .3rem .1rem lightblue;
    letter-spacing: 2px;
}
h2{
    font-size: 2rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: .3rem .3rem .1rem lightblue;
    letter-spacing: 2px;
}


.img1{
    float: none;
    
    max-width: 50%;
    max-height: 30%;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 0;
    border-radius: 50%;
    box-shadow: 2px 2px .5rem lightblue;
    shape-outside: circle(75%);
}

.text1{
    float: right;
    color: #bb1b47;
    text-align: ;
}

.img2{
    float: right;
    max-width: 30%;
    max-height: 30%;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 50%;
    box-shadow: 2px 2px .5rem lightblue;
    shape-outside: circle(35%);
    
}

footer{
    color:red;
    background-color: aliceblue;
    padding: 2% 0;
    margin: top 10px; 
    clear: both;
}

footer a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(245, 109, 145);
}



